__pycache__
.DS_Store
.vscode
datasets/graph/*
!datasets/graph/config.yaml
wandb/
logs/
output_images/
benchmark_cache/
my_experiments/
notebooks/
venv/
debug/
data-gen/outputs/
shmetis
hmetis
benchmarks/

dist/*
tmp/*
tmp
thirdparty
releases